html {
  margin: 0;
  padding: 0;
}

body {
  font: 75% georgia, sans serif;
  line-height: 2;
  background-image: url("./images/burger-background.jpg");
  background-repeat: repeat;
}

/*HEADER ELEMENTS*/

header {
  background-color: #ff8522;
  overflow: hidden;
  border-radius: 10px;
}
h1 {
  padding: 5px;
  float: left;
  margin-left: 20px;
  color: red;

  text-shadow: 1px 1px yellow;
  font-size: 2.5em;
  font-style: italic;
}
header nav {
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}
nav ul li {
  display: inline;
  padding: 10px;

  list-style-type: none;
  background-color: orange;
  border-radius: 20px;
}
#total-cost {
  text-align: right;
  margin-right: 10px;
  margin-top: 10px;
}
/*Header Links*/
header h1 a {
  text-decoration: none;
  color: inherit;
}
header nav a {
  text-decoration: none;
  color: inherit;
}
header nav ul li:hover{
  background-color: yellow;
}

/*Footer Elements*/
footer {
  bottom: 0;
  left: 0;
  width: 100%;

  background-color: #ff8522;
  border-radius: 10px;
}
footer p {
  /*text-align: center;*/
  font-size: 1.2em;
  text-align: center;
}
footer button.contact {
  font-size: 1.4em;
  border: 3px solid black;
  background-color: #4ebbff;
  border-radius: 20px;
  margin: 2px 2px 2px 2px;
}
footer button.contact:hover{
  cursor: pointer;
}


/*-------------------INDEX.HTML-------------------*/
/*------------------------------------------------*/
/*Menu Elements*/
.menu {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
}
.menu h2 {
  font-size: 2.5em;
  text-shadow: 2px 2px white;
}
/*Menu Items*/
.menu div.item {
  display: inline-block;
  width: 30%;
  padding: 10px;
  margin-bottom: 2px;

  border-radius: 20px;
  background-color: gray;
}
.menu .item .item-img {
  max-width: 100%;
  height: auto;
}
.menu .item-desc {
  font-size: 1.3em;
  color: white;
}
.menu .item-desc .item-price {
  font-style: oblique;
}
button.addtocart-btn {
  background-color: #d0451b;
  border-radius: 32px;
  border: 1px solid #942911;
  cursor: pointer;
}
button.addtocart-btn:hover {
  background-color: orange;
}

/*Expecting images to already be 256/256
img {
  width: 256px;
  height: 256px;
}*/

/*Cart Content*/
.cart {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  border: 3px solid black;
  padding: 5px;
  background-color: white;
}

.cart table {
  width: 100%;
  /* border-spacing: 0 $unit-alpha / 2;
    border-collapse: separate;
    margin-top: (-$unit-alpha / 2);*/
}

.cart h2 {
  text-align: left;
  font-size: 1.5em;
  text-shadow: 1px 1px white;
}

.cart thead {
  background-color: #f21f1f;
}

thead th {
    text-align: left;
    padding: .5em;
    color: white;
}
thead th:last-child {
  text-align: right;
}
tr.separating-line {
  /*TOP BORDER NOT WORKING*/
  border-top: 3px #000 solid;
}
tr td:first-child {
  width: 50%;
  padding-left: 10px;
}
td h3{
  font-size: 1.7em;
  color: red;
}
td p{
  font-size: 1.5em;
}

input {
  width: 4em;
  height: 3em;
}
input[type="number"]{
  display: block;
  margin: 0 auto;
}

p.cart-total {
  text-align: right;
  font-size: 1.5em;
  padding-right: 1em;
}

th.totals-label {
  font-size: 1em;
  text-align: right;
}
div.totals-amt {
  font-size: 1.3em;
  text-align: right;
  padding-right: 20px;
}

.cart tfoot {
  background-color: #f21f1f;
  color: white;
}
tfoot th {
  text-align: right;
  padding: .5em;
}
tfoot td {
  text-align: right;
  padding-right: 20px;
}
th.full-total {
  font-size: 1.5em;
}
div.full-totalamt {
  font-size: 1.5em;
  font-weight: bold;
}

div.text-right {
  text-align: right;
}
#checkout-btn {
  margin: 10px 10px;
  font-weight: bold;
  padding: .5em;
}

/*Checkout Content*/
.checkout {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  border: 3px solid black;
  padding: 5px;
  overflow: hidden;
}

.order-review {
  background-color: white;
  float: right;
  width: 40%;
  margin-bottom: 40px;
  border: 1px solid black;
}
.information {
  float: left;
  width: 50%;
}

.checkout form {
  background-color: white;
}
form header {
  /*Push fields down from header*/
  padding-left: 5px;
  margin: 0 0 20px 0;
}

form > div > label, legend {
  width: 8%;
}
form > div > fieldset label {
	font-size: 90%;
}
form > div > div,
form > div > fieldset > div {
  /*Controls length of input field*/
  width: 60%;
}
fieldset {
	border: 0;
  padding: 0;
}
form > div {
  margin-top: 10px;
}


input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
	width: 100%;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
  width: 50%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
  border-color: #4697e4;
}

@media (max-width: 600px) {
  form > div {
    margin: 0 0 15px 0;
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: left;
  }
}

#order-btn {
  margin: 10px 10px;
  font-weight: bold;
  padding: .5em;
}

/*Order summary*/

.order-review h3 {
  text-align: center;
}
.order-review table {
  margin: auto;
}

/*Login content*/

.login {
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 90%;
  border: 3px solid black;
  padding: 10px;
  background-color: white;
}
