<!DOCTYPE html>

<html>

<head>
    <title><%= title %></title>
    <script type="text/javascript" src="./scripts/jquery-3.2.0.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="stylesheet.css" media="screen" />
</head>

<body>

    <header>
        <h1><a href="/" id="logo">HUNGRY BURGERS</a></h1>
        <nav>
            <ul>
                <% if (guest) { %>
                  <a href="/loginpage" id="login-link">
                      <li>Login/Register</li>
                  </a>
                <% } else { %>
                  <a href='/logout' id="logout-link">
                    <li>Logout</li>
                  </a>
                  <li><a href='/adminpage'>Admin Page</a></li>
                <% } %>
                <a href="/cartpage">
                    <li id="cart-btn">Cart(0 Items)</li>
                </a>
            </ul>
            <div id="user-welc"><%= usermsg %><span id="total-cost"> $0</span></div>
        </nav>
    </header>
