<%- include('header', {title: 'Receipt Page', usermsg}) %>

<div class='receipt'>
  <h2><%- title %></h2>

  <a id="eo-receipt" href='/'><button> Return to main menu </button> </a>
</div>

<script src='./scripts/receipt.js'></script>
<%- include('footer') %>
